{% extends 'layout.html' %}
{% block title %}Manage Users{% endblock %}
{% block page_heading %}Manage Users{% endblock %}
{% block breadcrumbs %}
    <li class="breadcrumb-item active" aria-current="page">Users</li>
{% endblock %}
{% block content %}
<div class="card shadow-sm">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Created Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.created_date }}</td>
                            <td>
                                <form id="delete-form-{{ user.id }}" action="{{ url_for('admin.delete_user', user_id=user.id) }}" method="post" style="display:none;"></form>
                                <button class="btn btn-danger btn-sm" onclick="confirmDelete({{ user.id }})">Delete</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}