{% extends 'layout.html' %}
{% block title %}Upload Documents{% endblock %}
{% block content %}
    <h1>Upload Documents</h1>
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>{{ form.files.label }}</p>
        {{ form.files(multiple=True) }}
        {% if form.files.errors %}
            {% for error in form.files.errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
        {% endif %}
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}